{% extends "base.html" %}

{% block content %}
    <button id="fit-button" onclick="zoomFit()">Re-Center</button>
	<form id="finder_form" style="position: absolute; bottom: 1em; right: 1em">
		<input list="finder" id="finder_input" required />
		<datalist id="finder" >
		  {% for item, id in items %}
			<option value="{{ item }}" data-id="{{ id }}">
		  {% endfor %}
		</datalist>
	</form>
	     
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<style>
	body {
		background: #2C2E43;
	}
</style>

    <svg style="visibility: hidden">
		<g id="root">
			<g id="nodes"></g>
			<g id="links"></g>
		</g>
	</svg>
    <script type="text/javascript" src="/static/force4.js"></script>
{% endblock %}
