.nav {
	background: #FEECE9;
	height: 80px;
	margin: 0;
	position: fixed;
	width: 100%;
	top: 0;
}
.nav-links {
	width: 80%;
	padding: 15px;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}
.nav img {
	height: 40px;
	width: 40px;
}
.home-link {
	display: flex;
	align-items: center;
}
.nav a {

	font-size: 20px;
	color: #2C2E43;
}
body {
	padding: 0;
	margin: 0;
	/*overflow: scroll*/;
}
.tags {
	background: #f6efa6;
	padding: 4px 7px;
	margin-left: 6px;
	display: inline-block;
}
.content {
	margin: auto;
	margin-top: 150px;
	width: 80%;
}
body, html, svg {
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
		}

// force
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.link {
  stroke: #777;
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
}

.node text {
  display: none;
  font: 20px sans-serif;
  z-index: 99;
  color: #DF5E5E;
}


.node:hover text {
  display: inline;
}

.cell {
  fill: none;
  pointer-events: all;
}
#fit-button {
	position: absolute;
	bottom: 1em;
	left: 1em;
}
